<table border="2">
    <tr >
        <th>Employee Name</th>
        <th>Employee Id</th>
        <th>Employee Designation</th>
        <th>Employee Address</th>
        <th colspan="2">Employee Contact Number</th>
     </tr>
    <tr *ngFor="let emp of employeeObj" >
     <td> {{ emp.ename }}</td>
     <td> {{ emp.eid }}</td>
      <td>{{ emp.edesignation }}</td>
      <td>{{ emp.eadd }}</td>
      <td  *ngFor="let contact of emp.econtact">{{ contact}}</td>
    </tr>
</table>
<h1>{{myString}}
<!-- <h1>{{printTitle}}</h1> -->
